.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    height: auto;
    width: 100vw;
    color: #fff;
}

.footer-content {
    display: inline-flex;
    padding: 15px 40% 15px 40%;
}

.social {
    margin: 0 10px 0 10px;
}