.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 80px;
  width: 100vw;
}

.footerContent {
  padding-inline-start: 0;
}

.footer ul li {
  list-style: none;
  margin: 15px 2% 0px 2%;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}

.social {
  margin: 0 10px 0 10px;

  @mixin hover {
    transform: scale(1.4);
  }
}

.hover {
  color: var(--primary-inverse);

  @mixin hover {
    color: var(--primary-hover);
  }
}
