.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.4);
}

/* Pink Light scheme (Default)
/* Can be forced with data-theme="light" */
/* [data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #ffffff;
  --primary-hover: #ffdb58;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #fff;
  --background-color: #d3d3c6;
  --mantine-color-body: #d3d3c6;
} */

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #ffffff;
    --primary-hover: #ffdb58;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #fff;
    --background-color: #001220;
    --mantine-color-body: var(--background-color);
  }
}

[data-theme="light"] {
  --primary: #ffffff;
  --primary-hover: #ffdb58;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #fff;
  --background-color: #d3d3c6;
  --mantine-color-body: #d3d3c6;
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #ffffff;
  --primary-hover: #ffdb58;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
  --background-color: #001220;
  --mantine-color-body: var(--background-color);
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
