.nav-container {
    gap: 10%;
    padding: 20px 30% 30px 30%;
}

.nav-item {
    font-family: "Bungee", sans-serif;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.4); 
}

@media screen and (max-width: 992px) {
    .nav-container {
        gap: 20%;
        padding: 20px 0 100px 0;
    }
}
