.upArrow {
  transition: all 0.2s ease-in-out;

  @mixin hover {
    transform: scale(1.4);
    color: var(--primary-hover);
  }
}

.headerFont {
  font-family: "Bungee", sans-serif;
  color: var(--primary-hover);
}
